<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>файрез</title>
</head>
<body>
    <div id="landing">
        <div>
            <img src="/static/images/avatar.png">
            <div id="name">FIRE</div>
        </div>
        <div id="contacts">
            <a href="https://t.me/nwokez">
                <div class="contact">
                    <div>
                        <img src="/static/icons/telegram.svg">
                        <div>Telegram</div>
                    </div>
                    <img src="/static/icons/arrow.svg">
                </div>
            </a>
            <a href="https://github.com/fi-res">
                <div class="contact">
                    <div>
                        <img src="/static/icons/github.svg">
                        <div>GitHub</div>
                    </div>
                    <img src="/static/icons/arrow.svg">
                </div>
            </a>
            <a href="https://xn--d1ah4a.com/@fdg">
                <div class="contact">
                    <div>
                        <img src="/static/icons/itd.svg">
                        <div>ИТД</div>
                    </div>
                    <img src="/static/icons/arrow.svg">
                </div>
            </a>
        </div>
    </div>
</body>
